.myCard {
  display: flex;
  gap: 10px;
  border: 2px solid green;
  padding: 15px;
  width: 450px;
}

.imageCard {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.cardTitle {
  font-size: 22px;
  font-style: bold;
}

.cardContent {
  font-size: 18px;
  padding: 10px 0;
}

.cardPrice{
  font-size: 25px;
}

.oldPrice {
  font-size: 20px;
  color: red;
  text-decoration: line-through;
}

.cardButton {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid green;

}

.pricePromoCode {
  font-size: 25px;
  color: green;
}

.priceContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.displayNone {
  display: none;
}