.myCard {
  display: flex;
  gap: 10px;
  border: 2px solid green;
  padding: 15px;
  width: 450px;
}

.imageCard {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.cardTitle {
  font-size: 22px;
  font-style: bold;
}

.cardContent {
  font-size: 18px;
  padding: 10px 0;
}

.cardPrice{
  padding: 0 0 10px;
}

.cardButton {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid green;

}