.discountClass {
    color: red;
    text-decoration: line-through;
    font-size: 18px;
    padding: 0 10px;
}

.discountPrice_hide {
    display: none;
}

.discountPrice {
    display: block;
    color: green;
    font-size: 24px;
    padding: 0 10px 0 0;
}

.priceBlock {
    display: flex;
    align-items: center;
}

h3 {
    margin: 0;
    padding: 0;
}

.ant-card-body {
    display: none;
}

.cardBlock {
    display: flex;
}

.productBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlePlants {
    font-size: 22px;
}

.subtitlePlants {
    font-size: 22px;
    padding: 10px;
}

.parameterPlants {
    font-size: 18px;
    font-weight: bold;
}

.parameter {
    font-size: 18px;
}

.cardElement {
    width: 520px;
}

@media screen and (max-width: 900px) {
    .cardBlock {
        flex-direction: column;
    }

    .cardElement {
        width: 450px;
    }
}






