.registration_page {
}

.registration__container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid gray;
}

.title_registration_main {
    align-self: center;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title_registration_login {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: center;
}

.registration_login_title {
    line-height: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
}

.registration_login_link {
}

.input_block {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input_block {
}
.input {
    margin-bottom: 0em;
}

.form_name {
}

.input_name {
}

.form_secondname {
}
.input_surname {
}

.input_mail {
}

.form_mail {
}
.input_password {
}

.form_password {
}

.form_password_repeat {
}
.input_password_repeat {
}
.form_adress {
    margin-bottom: 0em;
}
.form_street {
}
.input_street {
}
.form_code {
}
.input_postcode {
}
.form_city {
}
.input_city {
}
.form_country {
}
.input_country {
}

.form_birth {
}
.input_birth {
}

.submit {
}

.submit_button {
}

.error_message {
}

.error_name {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}
.error_surname {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}

.error_email {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}

.error_password {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}

.error_password_repeat {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}

.error_birth {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}

.error_adress {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}

.error_street {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}

.error_town {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}
.error_postcode {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}
.error_country {
    padding-left: 21%;
    color: #ff4d4f;
    height: 25px;
}

.error_border {
}
